Repository bbortt/event-planner, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, github_actions, documentation, java, javascript, development-gateway, frontend, permissions-service, projects-service

chore(deps): update to postgresql release 14.6
  .github/workflows/permissions-service.yml
  .github/workflows/projects-service.yml
  .github/workflows/sonar.yml
  apps/permissions-service/README.md
  apps/projects-service/README.md
Labels: permissions-service, projects-service

fix(permissions-service): native build
  .github/workflows/permissions-service.yml
  .github/workflows/projects-service.yml
  apps/permissions-service/Dockerfile
  apps/permissions-service/Dockerfile.native
  apps/projects-service/Dockerfile
Labels: ci/cd, permissions-service, projects-service

fix(sonar): sonar analysis with permissions-service migrations
  .github/workflows/sonar.yml
Labels: none

chore(deps): update to postgresql release 14.6
  .github/workflows/permissions-service.yml
  .github/workflows/projects-service.yml
  .github/workflows/sonar.yml
  apps/permissions-service/README.md
  apps/projects-service/README.md
Labels: permissions-service, projects-service

fix(permissions-service): native build
  .github/workflows/permissions-service.yml
  .github/workflows/projects-service.yml
  apps/permissions-service/Dockerfile
  apps/permissions-service/Dockerfile.native
  apps/projects-service/Dockerfile
Labels: ci/cd, permissions-service, projects-service

fix(sonar): sonar analysis with permissions-service migrations
  .github/workflows/sonar.yml
Labels: none

ci: run native builds on release only
  .github/workflows/permissions-service.yml
  .github/workflows/projects-service.yml
  .github/workflows/release.yml
Labels: none

chore(sonar): cleanup code smells
  .idea/compiler.xml
  apps/permissions-service/src/main/java/io/github/bbortt/event/planner/apps/permissions/domain/MemberPermission.java
  apps/permissions-service/src/main/java/io/github/bbortt/event/planner/apps/permissions/domain/Permission.java
  apps/permissions-service/src/main/java/io/github/bbortt/event/planner/apps/permissions/service/PermissionService.java
  apps/permissions-service/src/test/java/io/github/bbortt/event/planner/apps/permissions/ApplicationIntegrationTest.java
  apps/projects-service/src/main/java/io/github/bbortt/event/planner/apps/projects/domain/Project.java
  apps/projects-service/src/main/java/io/github/bbortt/event/planner/apps/projects/domain/converter/ProjectDtoConverter.java
  apps/projects-service/src/main/java/io/github/bbortt/event/planner/apps/projects/rest/v1/ProjectApiController.java
  apps/projects-service/src/main/java/io/github/bbortt/event/planner/apps/projects/service/ProjectService.java
Labels: permissions-service, projects-service

ci: run native builds on release only
  .github/workflows/permissions-service.yml
  .github/workflows/projects-service.yml
  .github/workflows/release.yml
Labels: none

chore(sonar): cleanup code smells
  .idea/compiler.xml
  apps/permissions-service/src/main/java/io/github/bbortt/event/planner/apps/permissions/domain/MemberPermission.java
  apps/permissions-service/src/main/java/io/github/bbortt/event/planner/apps/permissions/domain/Permission.java
  apps/permissions-service/src/main/java/io/github/bbortt/event/planner/apps/permissions/service/PermissionService.java
  apps/permissions-service/src/test/java/io/github/bbortt/event/planner/apps/permissions/ApplicationIntegrationTest.java
  apps/projects-service/src/main/java/io/github/bbortt/event/planner/apps/projects/domain/Project.java
  apps/projects-service/src/main/java/io/github/bbortt/event/planner/apps/projects/domain/converter/ProjectDtoConverter.java
  apps/projects-service/src/main/java/io/github/bbortt/event/planner/apps/projects/rest/v1/ProjectApiController.java
  apps/projects-service/src/main/java/io/github/bbortt/event/planner/apps/projects/service/ProjectService.java
Labels: permissions-service, projects-service

feat: init-locality-service
  .idea/compiler.xml
  .idea/jarRepositories.xml
  apps/locality-service/Cargo.toml
  apps/locality-service/build.gradle
  apps/locality-service/gradlew
  apps/locality-service/gradlew.bat
  apps/locality-service/src/main.rs
  apps/permissions-service/build.gradle
  apps/projects-service/build.gradle
  build.gradle
  libs/common-java/build.gradle
  settings.gradle
  specs/locality-service-v1.yml
Labels: ci/cd, permissions-service, projects-service

chore: prettier be like
  apps/locality-service/Cargo.lock
Labels: none

ci: gradlew executable
  gradlew
Labels: none

chore: update event planner naming
  README.md
  build.gradle
  gradle/war.gradle
  sonar-project.properties
  src/main/java/io/github/bbortt/event/planner/config/ApplicationProperties.java
  src/main/resources/config/application.yml
  src/main/resources/config/bootstrap.yml
  src/main/webapp/app/layouts/navbar/navbar.component.html
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/index.html
  src/main/webapp/manifest.webapp
  src/main/webapp/swagger-ui/index.html
  src/test/resources/config/application.yml
  webpack/webpack.custom.js
Labels: ci/cd, documentation

chore: configure security for auth0
  README.md
  gradle.properties
  package.json
  src/main/docker/app.yml
  src/main/docker/keycloak.yml
  src/main/docker/realm-config/jhipster-realm.json
  src/main/resources/config/application-dev.yml
  src/main/resources/config/application-prod.yml
  src/main/resources/config/application.yml
  src/main/resources/config/liquibase/changelog/00000000000000_initial_schema.xml
Labels: documentation

chore: update database and caching configuration
  README.md
  src/main/docker/app.yml
  src/main/docker/postgresql.yml
  src/main/java/io/github/bbortt/event/planner/config/CacheConfiguration.java
  src/main/java/io/github/bbortt/event/planner/service/UserService.java
  src/main/resources/config/application-dev.yml
  src/main/resources/config/application-prod.yml
  src/main/webapp/app/home/home.component.html
  src/main/webapp/i18n/de/home.json
  src/main/webapp/i18n/en/home.json
Labels: documentation

docs: update developer instructions
  DEVELOPMENT.md
  JHIPSTER.md
  README.md
Labels: documentation

.github/labeler.yml:

ci/cd:
  - '.github/*'
  - '.husky/*'
  - '*.gradle'
  - './{,**/}Dockerfile'
github_actions:
  - '.github/*'
documentation:
  - '*.md'

java: '*.java'
javascript: '*.ts{,x}'

development-gateway: 'apps/development-gateway/**'
frontend: 'apps/frontend/**'
permissions-service: 'apps/permissions-service/**'
projects-service: 'apps/projects-service/**'
