Repository bbortt/event-planner, pull requests merged in 2020-12, with the labels that each got.

#94 run on GitHub workflows as long as Travis CI is blocked.
  .github/workflows/gradle-test.yml
Labels: priority:high

#89 Feature/#81 user by login autocomplete styling
  package-lock.json
  package.json
  src/main/java/io/github/bbortt/event/planner/repository/UserRepository.java
  src/main/java/io/github/bbortt/event/planner/service/UserService.java
  src/main/webapp/app/app.module.ts
  src/main/webapp/app/shared/components/clientside-filter/clientside-filter.component.html
  src/main/webapp/app/shared/components/components.module.ts
  src/main/webapp/app/shared/components/user-by-email-or-login/user-by-email-or-login.component.html
  src/main/webapp/app/shared/components/user-by-email-or-login/user-by-email-or-login.component.scss
  src/main/webapp/app/shared/components/user-by-email-or-login/user-by-email-or-login.component.ts
  src/main/webapp/app/view/create-project/create-project-modal.component.ts
  src/main/webapp/app/view/create-project/project-create.component.html
  src/main/webapp/app/view/create-project/project-create.component.scss
  src/main/webapp/app/view/create-project/project-create.component.ts
  src/main/webapp/app/view/view.module.ts
  src/main/webapp/content/scss/global.scss
Labels: documentation, enhancement, priority:high

#96 #95 fix user resource urls.
  src/main/webapp/app/core/user/user.service.ts
Labels: bug, priority:high

#97 #39 backend project time validation.
  src/main/java/io/github/bbortt/event/planner/service/ProjectService.java
  src/test/java/io/github/bbortt/event/planner/service/ProjectServiceUnitTest.java
Labels: enhancement, priority:low

#98 update frontend dependencies: ng-jhipster@0.16.0.
  build.gradle
  gradle.properties
  package-lock.json
  package.json
Labels: enhancement, priority:low

#103 @bbortt/ngx-autocomplete bugfix for the touched events.
  package-lock.json
  package.json
  src/main/webapp/app/view/create-project/project-create.component.ts
Labels: bug, priority:low

#105 attempt to solve n+1 query problem when paginating locations
  src/main/java/io/github/bbortt/event/planner/repository/LocationRepository.java
  src/main/java/io/github/bbortt/event/planner/repository/SectionRepository.java
  src/main/java/io/github/bbortt/event/planner/service/LocationService.java
  src/main/java/io/github/bbortt/event/planner/web/rest/LocationResource.java
Labels: bug, help wanted, priority:high

#106 correct one or two little things I've noticed.
  package-lock.json
  package.json
  src/main/java/io/github/bbortt/event/planner/repository/InvitationRepository.java
  src/main/java/io/github/bbortt/event/planner/repository/LocationTimeSlotRepository.java
  src/main/java/io/github/bbortt/event/planner/repository/SectionRepository.java
  src/main/java/io/github/bbortt/event/planner/service/InvitationService.java
Labels: bug, priority:low

#100 EP-9 prepare project screenplay component.
  .github/workflows/gradle-test.yml
  src/main/java/io/github/bbortt/event/planner/service/LocationService.java
  src/main/java/io/github/bbortt/event/planner/web/rest/LocationResource.java
  src/main/webapp/app/entities/location/location.resolve.ts
  src/main/webapp/app/shared/model/location.model.ts
  src/main/webapp/app/view/create-project/project-create.component.html
  src/main/webapp/app/view/project/admin/project-admin.component.html
  src/main/webapp/app/view/project/admin/project-admin.component.scss
  src/main/webapp/app/view/project/admin/project-admin.component.ts
  src/main/webapp/app/view/project/screenplay/screenplay.component.html
  src/main/webapp/app/view/project/screenplay/screenplay.component.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/project.admin.json
  src/main/webapp/i18n/de/project.json
  src/main/webapp/i18n/de/project.screenplay.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/project.admin.json
  src/main/webapp/i18n/en/project.json
  src/main/webapp/i18n/en/project.screenplay.json
  src/test/java/io/github/bbortt/event/planner/web/rest/LocationResourceIT.java
  src/test/javascript/spec/app/admin/user-management/user-management.component.spec.ts
  src/test/javascript/spec/app/core/user/user.service.spec.ts
Labels: bug, enhancement, priority:high

#108 remove project responsibilities pagination.
  src/main/java/io/github/bbortt/event/planner/repository/ResponsibilityRepository.java
  src/main/java/io/github/bbortt/event/planner/service/ResponsibilityService.java
  src/main/java/io/github/bbortt/event/planner/web/rest/ResponsibilityResource.java
  src/main/webapp/app/entities/responsibility/responsibility.service.ts
  src/main/webapp/app/view/project/admin/responsibilities/project-responsibilities.component.html
  src/main/webapp/app/view/project/admin/responsibilities/project-responsibilities.component.ts
Labels: enhancement, priority:low

#110 migrate buildchain into circle-ci workflows.
  .circleci/config.yml
  .circleci/docker_push_gcp.sh
  .circleci/git_tag_and_push.sh
  .dockerignore
  .github/workflows/gradle-fullbuild.yml
  .github/workflows/gradle-test.yml
  .travis.yml
  .travis/deploy_env.sh
  .travis/gae_deploy_env.sh
  .travis/install_gcloud_sdk.sh
  Dockerfile
  app-canary.yml
  build.gradle
  gae.tar.enc
  gradle/docker.gradle
  src/main/docker/entrypoint.sh
  src/main/docker/secrets.env.tpl
Labels: documentation, enhancement, priority:high

#112 Bugfix/project components naming consistency
  .github/workflows/gradle-test.yml
  src/main/webapp/app/view/project/admin/navbar/project-admin-navbar.component.html
  src/main/webapp/app/view/project/admin/navbar/project-admin-navbar.component.scss
  src/main/webapp/app/view/project/admin/navbar/project-admin-navbar.component.ts
  src/main/webapp/app/view/project/admin/project-admin.component.html
  src/main/webapp/app/view/project/admin/project-admin.module.ts
Labels: bug, priority:low

#114 move authentication JWT into local storage by default
  src/main/java/io/github/bbortt/event/planner/security/jwt/TokenProvider.java
  src/main/java/io/github/bbortt/event/planner/web/rest/UserJWTController.java
  src/main/java/io/github/bbortt/event/planner/web/rest/vm/LoginVM.java
  src/main/resources/config/application-dev.yml
  src/main/resources/config/application-prod.yml
  src/main/webapp/app/core/auth/auth-jwt.service.ts
  src/main/webapp/app/core/login/login.model.ts
  src/main/webapp/app/shared/login/login.component.html
  src/main/webapp/app/shared/login/login.component.ts
  src/main/webapp/i18n/de/login.json
  src/main/webapp/i18n/en/login.json
  src/test/java/io/github/bbortt/event/planner/security/jwt/JWTFilterTest.java
  src/test/java/io/github/bbortt/event/planner/security/jwt/TokenProviderTest.java
  src/test/java/io/github/bbortt/event/planner/web/rest/UserJWTControllerIT.java
  src/test/javascript/spec/app/shared/login/login.component.spec.ts
Labels: bug, enhancement, priority:low

#111 Add initial search
  src/main/webapp/app/view/project/admin/locations/project-location-modal.component.ts
  src/main/webapp/app/view/project/admin/locations/project-location-update.component.ts
  src/main/webapp/app/view/project/admin/locations/project-locations.component.ts
Labels: bug, priority:low

#115 consistent list modification events on success only.
  src/main/webapp/app/view/project/admin/locations/sections/project-section-modal.component.ts
  src/main/webapp/app/view/project/admin/locations/sections/project-section-update.component.ts
  src/main/webapp/app/view/project/admin/project-admin-update-modal.component.ts
  src/main/webapp/app/view/project/admin/project-admin-update.component.ts
  src/main/webapp/app/view/project/admin/responsibilities/project-responsibility-modal.component.ts
  src/main/webapp/app/view/project/admin/responsibilities/project-responsibility-update.component.ts
Labels: bug, enhancement, priority:low

#113 Feature/ep 9 screenplay accordion
  src/main/webapp/app/entities/location/location.resolve.ts
  src/main/webapp/app/entities/location/location.service.ts
  src/main/webapp/app/view/project/admin/project-admin.component.html
  src/main/webapp/app/view/project/admin/project-admin.module.ts
  src/main/webapp/app/view/project/admin/project-admin.routes.ts
  src/main/webapp/app/view/project/project.module.ts
  src/main/webapp/app/view/project/project.routes.ts
  src/main/webapp/app/view/project/screenplay/filter/project-screenplay-filter.component.html
  src/main/webapp/app/view/project/screenplay/filter/project-screenplay-filter.component.scss
  src/main/webapp/app/view/project/screenplay/filter/project-screenplay-filter.component.ts
  src/main/webapp/app/view/project/screenplay/project-screenplay-location.component.html
  src/main/webapp/app/view/project/screenplay/project-screenplay-location.component.ts
  src/main/webapp/app/view/project/screenplay/project-screenplay.component.html
  src/main/webapp/app/view/project/screenplay/project-screenplay.component.scss
  src/main/webapp/app/view/project/screenplay/project-screenplay.component.ts
  src/main/webapp/app/view/project/screenplay/project-screenplay.module.ts
  src/main/webapp/app/view/project/screenplay/project-screenplay.routes.ts
  src/main/webapp/app/view/project/screenplay/screenplay.component.html
  src/main/webapp/app/view/project/screenplay/screenplay.component.ts
  src/main/webapp/i18n/de/project.screenplay.json
  src/main/webapp/i18n/en/project.screenplay.json
Labels: enhancement, priority:high

#116 Feature/remake buttons in project admin section
  src/main/webapp/app/admin/user-management/user-management.component.html
  src/main/webapp/app/view/create-project/project-create.component.html
  src/main/webapp/app/view/my-projects/my-projects.component.html
  src/main/webapp/app/view/my-projects/my-projects.component.scss
  src/main/webapp/app/view/project/admin/locations/project-location-delete-dialog.component.html
  src/main/webapp/app/view/project/admin/locations/project-location-update.component.html
  src/main/webapp/app/view/project/admin/locations/project-locations.component.html
  src/main/webapp/app/view/project/admin/locations/project-locations.component.scss
  src/main/webapp/app/view/project/admin/locations/sections/project-section-delete-dialog.component.html
  src/main/webapp/app/view/project/admin/locations/sections/project-section-update.component.html
  src/main/webapp/app/view/project/admin/project-admin-update.component.html
  src/main/webapp/app/view/project/admin/project-admin.component.html
  src/main/webapp/app/view/project/admin/responsibilities/project-responsibilities.component.html
  src/main/webapp/app/view/project/admin/responsibilities/project-responsibility-delete-dialog.component.html
  src/main/webapp/app/view/project/admin/responsibilities/project-responsibility-update.component.html
  src/main/webapp/app/view/project/admin/users/project-users.component.html
  src/main/webapp/app/view/project/screenplay/project-screenplay.component.html
  src/main/webapp/app/view/project/screenplay/project-screenplay.component.scss
  src/main/webapp/content/scss/global.scss
Labels: bug, enhancement, priority:low

#120 Bugfix/#117 review correctures
  src/main/java/io/github/bbortt/event/planner/service/ProjectService.java
  src/main/java/io/github/bbortt/event/planner/service/UserService.java
  src/main/java/io/github/bbortt/event/planner/service/exception/ProjectDoesNotExistException.java
  src/main/java/io/github/bbortt/event/planner/service/exception/ProjectIdMustBePresentException.java
  src/main/java/io/github/bbortt/event/planner/service/exception/UsernameAlreadyUsedException.java
  src/main/java/io/github/bbortt/event/planner/web/rest/LocationResource.java
  src/main/java/io/github/bbortt/event/planner/web/rest/ProjectResource.java
  src/main/java/io/github/bbortt/event/planner/web/rest/errors/ExceptionTranslator.java
  src/main/webapp/app/account/register/register.component.html
  src/main/webapp/app/view/modal-outlet.routes.ts
  src/main/webapp/app/view/project/admin/project-admin.component.html
  src/main/webapp/app/view/project/admin/project-admin.component.ts
  src/main/webapp/app/view/project/screenplay/project-screenplay.component.html
  src/main/webapp/app/view/project/screenplay/project-screenplay.component.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
  src/test/java/io/github/bbortt/event/planner/web/rest/ProjectResourceIT.java
  src/test/java/io/github/bbortt/event/planner/web/rest/ResponsibilityResourceIT.java
Labels: bug, enhancement, priority:high

#125 #117 use outlined or negative buttons in user administration.
  src/main/webapp/app/admin/user-management/user-management.component.html
Labels: enhancement, priority:low

#129 bugfix domain models and fullbuild application.
  src/main/java/io/github/bbortt/event/planner/domain/Project.java
  src/main/java/io/github/bbortt/event/planner/domain/User.java
  src/main/java/io/github/bbortt/event/planner/service/ProjectService.java
  src/main/java/io/github/bbortt/event/planner/service/UserService.java
  src/main/java/io/github/bbortt/event/planner/web/rest/errors/ExceptionTranslator.java
  src/main/webapp/app/view/project/admin/locations/project-locations.component.html
  src/main/webapp/app/view/project/admin/project-admin-update.component.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
  src/test/java/io/github/bbortt/event/planner/service/UserServiceIT.java
Labels: bug, priority:high

#131 #117 remove all btn-primaries.
  src/main/webapp/app/account/password-reset/finish/password-reset-finish.component.html
  src/main/webapp/app/account/password-reset/init/password-reset-init.component.html
  src/main/webapp/app/account/password/password.component.html
  src/main/webapp/app/account/register/register.component.html
  src/main/webapp/app/account/settings/settings.component.html
  src/main/webapp/app/admin/user-management/user-management-update.component.html
  src/main/webapp/app/shared/login/login.component.html
Labels: bug, priority:low

#130 load sections as soon as the screenplay was opened.
  src/main/java/io/github/bbortt/event/planner/repository/LocationRepository.java
  src/main/java/io/github/bbortt/event/planner/repository/SectionRepository.java
  src/main/java/io/github/bbortt/event/planner/service/SectionService.java
  src/main/java/io/github/bbortt/event/planner/web/rest/LocationResource.java
  src/main/java/io/github/bbortt/event/planner/web/rest/SectionResource.java
  src/main/webapp/app/entities/location/location.service.ts
  src/main/webapp/app/entities/section/section.service.ts
  src/main/webapp/app/view/project/admin/locations/project-locations.component.ts
  src/main/webapp/app/view/project/screenplay/project-screenplay-location.component.ts
  src/main/webapp/app/view/project/screenplay/project-screenplay.component.ts
Labels: enhancement, priority:high

#122 Bugfix/#117 project administration
  src/main/webapp/app/layouts/navbar/navbar.component.html
  src/main/webapp/app/layouts/navbar/navbar.component.ts
  src/main/webapp/app/view/create-project/project-create.component.html
  src/main/webapp/app/view/create-project/project-create.component.ts
  src/main/webapp/app/view/my-projects/my-projects.component.html
  src/main/webapp/app/view/my-projects/my-projects.component.scss
  src/main/webapp/app/view/my-projects/my-projects.component.ts
  src/main/webapp/app/view/project/admin/locations/project-locations.component.html
  src/main/webapp/i18n/de/project.admin.json
  src/main/webapp/i18n/de/project.json
  src/main/webapp/i18n/en/project.admin.json
  src/main/webapp/i18n/en/project.json
Labels: bug, enhancement, priority:high

#134 Feature/sort responsibilities
  src/main/java/io/github/bbortt/event/planner/repository/ResponsibilityRepository.java
  src/main/java/io/github/bbortt/event/planner/service/ResponsibilityService.java
  src/main/java/io/github/bbortt/event/planner/web/rest/ResponsibilityResource.java
  src/main/webapp/app/entities/responsibility/responsibility.service.ts
  src/main/webapp/app/view/project/admin/locations/project-location-update.component.ts
  src/main/webapp/app/view/project/admin/responsibilities/project-responsibilities.component.ts
Labels: enhancement, priority:low
