Repository bbortt/event-planner, pull requests merged in 2021-01, with the labels that each got.

#135 #12 basic screenplay grouped by sections.
  package-lock.json
  package.json
  src/main/java/io/github/bbortt/event/planner/repository/SectionRepository.java
  src/main/java/io/github/bbortt/event/planner/service/SectionService.java
  src/main/java/io/github/bbortt/event/planner/web/rest/SectionResource.java
  src/main/webapp/app/entities/section/section.service.ts
  src/main/webapp/app/shared/model/scheduler/event.scheduler.ts
  src/main/webapp/app/shared/model/scheduler/section.scheduler.ts
  src/main/webapp/app/vendor.ts
  src/main/webapp/app/view/project/screenplay/devextreme/scheduler-appointment-details.component.html
  src/main/webapp/app/view/project/screenplay/devextreme/scheduler-appointment-details.component.scss
  src/main/webapp/app/view/project/screenplay/devextreme/scheduler-appointment-details.component.ts
  src/main/webapp/app/view/project/screenplay/devextreme/scheduler-appointment.component.html
  src/main/webapp/app/view/project/screenplay/devextreme/scheduler-appointment.component.ts
  src/main/webapp/app/view/project/screenplay/project-screenplay-location.component.html
  src/main/webapp/app/view/project/screenplay/project-screenplay-location.component.ts
  src/main/webapp/app/view/project/screenplay/project-screenplay.module.ts
  src/main/webapp/content/scss/vendor.scss
Labels: enhancement, priority:high

#133 #3 initial DEVELOPMENT.md and README.md.
  DEVELOPMENT.md
  README.md
Labels: documentation, enhancement, priority:low

#136 Bugfix/remove mat datetimepicker
  package-lock.json
  package.json
  src/main/java/io/github/bbortt/event/planner/repository/SectionRepository.java
  src/main/java/io/github/bbortt/event/planner/service/SectionService.java
  src/main/java/io/github/bbortt/event/planner/web/rest/SectionResource.java
  src/main/webapp/app/core/core.module.ts
  src/main/webapp/app/shared/constants/input.constants.ts
  src/main/webapp/app/shared/language/app-language.service.ts
  src/main/webapp/app/vendor.ts
  src/main/webapp/app/view/create-project/create-project-modal.component.scss
  src/main/webapp/app/view/create-project/project-create.component.html
  src/main/webapp/app/view/create-project/project-create.component.scss
  src/main/webapp/app/view/create-project/project-create.component.ts
  src/main/webapp/app/view/project/admin/project-admin-update-modal.component.scss
  src/main/webapp/app/view/project/screenplay/devextreme/scheduler-appointment.component.html
  src/main/webapp/app/view/view.module.ts
  src/main/webapp/content/scss/global.scss
  tsconfig.json
Labels: bug, enhancement, priority:high

#140 #12 scheduler view with custom interval.
  src/main/webapp/app/entities/location/location.service.ts
  src/main/webapp/app/entities/project/project.resolve.ts
  src/main/webapp/app/entities/project/project.service.ts
  src/main/webapp/app/shared/model/project.model.ts
  src/main/webapp/app/view/my-projects/my-projects.component.ts
  src/main/webapp/app/view/project/screenplay/project-screenplay-location.component.html
  src/main/webapp/app/view/project/screenplay/project-screenplay-location.component.scss
  src/main/webapp/app/view/project/screenplay/project-screenplay-location.component.ts
Labels: enhancement, priority:low

#139 run npm update.
  package-lock.json
  package.json
Labels: enhancement, priority:low

#138 Feature/#137 remove bbortt ngx autocomplete
  package-lock.json
  package.json
  src/main/webapp/app/entities/section/section.service.ts
  src/main/webapp/app/shared/auth/has-any-role.directive.ts
  src/main/webapp/app/shared/components/clientside-filter/clientside-filter.component.ts
  src/main/webapp/app/view/create-project/project-create.component.html
  src/main/webapp/app/view/create-project/project-create.component.scss
  src/main/webapp/app/view/create-project/project-create.component.ts
  src/main/webapp/app/view/project/admin/locations/project-location-update.component.html
  src/main/webapp/app/view/project/admin/locations/project-location-update.component.ts
  src/main/webapp/app/view/project/admin/project-admin.module.ts
  src/main/webapp/app/view/view.module.ts
  src/main/webapp/content/scss/global.scss
Labels: bug, enhancement, priority:high

#142 Feature/#12 screenplay filters
  src/main/webapp/app/entities/location/location.service.ts
  src/main/webapp/app/view/project/screenplay/filter/project-screenplay-filter.component.html
  src/main/webapp/app/view/project/screenplay/filter/project-screenplay-filter.component.ts
  src/main/webapp/app/view/project/screenplay/project-screenplay.component.html
  src/main/webapp/app/view/project/screenplay/project-screenplay.component.ts
  src/main/webapp/i18n/de/project.screenplay.json
  src/main/webapp/i18n/en/project.screenplay.json
Labels: enhancement, priority:low

#141 Feature/#12 screenplay crud functionality
  src/main/java/io/github/bbortt/event/planner/domain/Event.java
  src/main/java/io/github/bbortt/event/planner/domain/Section.java
  src/main/java/io/github/bbortt/event/planner/repository/SectionRepository.java
  src/main/java/io/github/bbortt/event/planner/service/EventService.java
  src/main/java/io/github/bbortt/event/planner/service/SectionService.java
  src/main/java/io/github/bbortt/event/planner/web/rest/EventResource.java
  src/main/webapp/app/shared/model/scheduler/appointment-event.ts
  src/main/webapp/app/shared/model/scheduler/event.scheduler.ts
  src/main/webapp/app/view/create-project/project-create.component.html
  src/main/webapp/app/view/project/admin/locations/project-location-update.component.html
  src/main/webapp/app/view/project/screenplay/project-screenplay-location.component.html
  src/main/webapp/app/view/project/screenplay/project-screenplay-location.component.scss
  src/main/webapp/app/view/project/screenplay/project-screenplay-location.component.ts
  src/main/webapp/content/scss/global.scss
  src/test/java/io/github/bbortt/event/planner/service/EventServiceUnitTest.java
  src/test/java/io/github/bbortt/event/planner/web/rest/EventResourceIT.java
Labels: enhancement, priority:high

#146 change jhi_user password column definition to char.
  src/main/java/io/github/bbortt/event/planner/domain/User.java
  src/main/resources/db/migration/V2021.01.06.17.20__update_jhi_user_password.sql
Labels: bug, priority:low

#145 feature/code cleanup
  src/main/java/io/github/bbortt/event/planner/config/SecurityConfiguration.java
  src/main/java/io/github/bbortt/event/planner/repository/EventRepository.java
  src/main/java/io/github/bbortt/event/planner/repository/InvitationRepository.java
  src/main/java/io/github/bbortt/event/planner/repository/LocationRepository.java
  src/main/java/io/github/bbortt/event/planner/repository/RoleRepository.java
  src/main/java/io/github/bbortt/event/planner/repository/SectionRepository.java
  src/main/java/io/github/bbortt/event/planner/service/InvitationService.java
  src/main/java/io/github/bbortt/event/planner/service/LocationService.java
  src/main/java/io/github/bbortt/event/planner/web/rest/InvitationResource.java
  src/main/java/io/github/bbortt/event/planner/web/rest/LocationResource.java
  src/main/webapp/app/core/auth/account.service.ts
  src/main/webapp/app/entities/location/location.service.ts
  src/main/webapp/app/view/create-project/create-project-modal.component.ts
  src/main/webapp/app/view/project/admin/locations/project-location-modal.component.ts
  src/main/webapp/app/view/project/admin/locations/project-locations.component.html
  src/main/webapp/app/view/project/admin/locations/project-locations.component.ts
  src/main/webapp/app/view/project/admin/locations/sections/project-section-modal.component.ts
  src/main/webapp/app/view/project/admin/project-admin-update-modal.component.ts
  src/main/webapp/app/view/project/admin/project-admin.component.ts
  src/main/webapp/app/view/project/admin/responsibilities/project-responsibility-modal.component.ts
  src/main/webapp/app/view/project/admin/users/project-user-modal.component.ts
  src/test/java/io/github/bbortt/event/planner/web/rest/InvitationResourceIT.java
  src/test/java/io/github/bbortt/event/planner/web/rest/LocationResourceIT.java
  src/test/java/io/github/bbortt/event/planner/web/rest/ProjectResourceIT.java
  src/test/java/io/github/bbortt/event/planner/web/rest/ResponsibilityResourceIT.java
  src/test/java/io/github/bbortt/event/planner/web/rest/SectionResourceIT.java
Labels: bug, enhancement, priority:low

#149 Feature/responsibility user for location section
  src/main/java/io/github/bbortt/event/planner/repository/LocationRepository.java
  src/main/java/io/github/bbortt/event/planner/repository/UserRepository.java
  src/main/java/io/github/bbortt/event/planner/service/UserService.java
  src/main/java/io/github/bbortt/event/planner/web/rest/UserResource.java
  src/main/webapp/app/core/user/user.service.ts
  src/main/webapp/app/view/project/admin/locations/project-location-update.component.html
  src/main/webapp/app/view/project/admin/locations/project-location-update.component.ts
  src/main/webapp/app/view/project/admin/locations/project-locations.component.html
  src/main/webapp/app/view/project/admin/locations/sections/project-section-update.component.html
  src/main/webapp/app/view/project/admin/locations/sections/project-section-update.component.ts
  src/main/webapp/i18n/de/location.json
  src/main/webapp/i18n/de/section.json
  src/main/webapp/i18n/en/location.json
  src/main/webapp/i18n/en/section.json
Labels: enhancement, priority:high

#148 #81 resolve styling issues.
  src/main/webapp/app/shared/model/scheduler/section.scheduler.ts
  src/main/webapp/app/view/create-project/project-create.component.scss
  src/main/webapp/app/view/project/screenplay/filter/project-screenplay-filter.component.html
  src/main/webapp/app/view/project/screenplay/project-screenplay.component.html
  src/main/webapp/app/view/project/screenplay/project-screenplay.component.scss
  src/main/webapp/content/scss/_bootstrap-variables.scss
  src/main/webapp/content/scss/global.scss
Labels: bug, priority:low

#151 minor bugs i noticed while working on the project.
  src/main/webapp/app/view/project/admin/locations/project-location-modal.component.ts
  src/main/webapp/app/view/project/admin/locations/project-location-update.component.html
  src/main/webapp/app/view/project/admin/locations/project-location-update.component.ts
  src/main/webapp/app/view/project/admin/locations/sections/project-section-modal.component.ts
  src/main/webapp/app/view/project/admin/locations/sections/project-section-update.component.html
  src/main/webapp/app/view/project/admin/locations/sections/project-section-update.component.ts
  src/main/webapp/app/view/project/admin/responsibilities/project-responsibility-modal.component.ts
Labels: bug, priority:low

#152 Feature/select responsibility or user for events
  src/main/java/io/github/bbortt/event/planner/repository/SectionRepository.java
  src/main/java/io/github/bbortt/event/planner/service/SectionService.java
  src/main/java/io/github/bbortt/event/planner/web/rest/EventResource.java
  src/main/java/io/github/bbortt/event/planner/web/rest/SectionResource.java
  src/main/webapp/app/account/register/register.component.ts
  src/main/webapp/app/admin/user-management/user-management.route.ts
  src/main/webapp/app/core/user/user.model.ts
  src/main/webapp/app/core/user/user.service.ts
  src/main/webapp/app/entities/invitation/invitation.resolve.ts
  src/main/webapp/app/entities/responsibility/responsibility.resolve.ts
  src/main/webapp/app/entities/role/role.resolve.ts
  src/main/webapp/app/entities/section/section.service.ts
  src/main/webapp/app/shared/model/responsibility.model.ts
  src/main/webapp/app/shared/model/scheduler/event.scheduler.ts
  src/main/webapp/app/shared/model/scheduler/responsibility.scheduler.ts
  src/main/webapp/app/view/create-project/project-create.component.ts
  src/main/webapp/app/view/modal-outlet.routes.ts
  src/main/webapp/app/view/project/screenplay/event/event-update-modal.component.ts
  src/main/webapp/app/view/project/screenplay/event/event-update.component.html
  src/main/webapp/app/view/project/screenplay/event/event-update.component.ts
  src/main/webapp/app/view/project/screenplay/event/event.module.ts
  src/main/webapp/app/view/project/screenplay/project-screenplay-location.component.html
  src/main/webapp/app/view/project/screenplay/project-screenplay-location.component.scss
  src/main/webapp/app/view/project/screenplay/project-screenplay-location.component.ts
  src/main/webapp/app/view/project/screenplay/project-screenplay.component.html
  src/main/webapp/app/view/project/screenplay/project-screenplay.component.ts
  src/main/webapp/app/view/project/screenplay/project-screenplay.module.ts
  src/main/webapp/content/scss/global.scss
  src/main/webapp/i18n/de/event.json
  src/main/webapp/i18n/en/event.json
  src/test/javascript/spec/app/account/register/register.component.spec.ts
  src/test/javascript/spec/app/admin/user-management/user-management.component.spec.ts
Labels: enhancement, priority:high

#154 pass new event dates as JSON, so it is a legal url query param.
  src/main/webapp/app/entities/event/event.resolve.ts
  src/main/webapp/app/entities/event/event.service.ts
  src/main/webapp/app/entities/location/location.service.ts
  src/main/webapp/app/entities/section/section.service.ts
  src/main/webapp/app/shared/model/event.model.ts
  src/main/webapp/app/shared/model/scheduler/event.scheduler.ts
  src/main/webapp/app/view/project/screenplay/event/event-update-modal.component.ts
  src/main/webapp/app/view/project/screenplay/project-screenplay-location.component.ts
Labels: bug, priority:high

#157 Responsibility unique name per Project validator
  src/main/java/io/github/bbortt/event/planner/repository/ResponsibilityRepository.java
  src/main/java/io/github/bbortt/event/planner/service/ResponsibilityService.java
  src/main/java/io/github/bbortt/event/planner/web/rest/ResponsibilityResource.java
  src/main/webapp/app/entities/responsibility/responsibility.service.ts
  src/main/webapp/app/entities/validator/unique-property-value-in-project.validator.ts
  src/main/webapp/app/view/project/admin/responsibilities/project-responsibility-update.component.html
  src/main/webapp/app/view/project/admin/responsibilities/project-responsibility-update.component.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
  src/test/java/io/github/bbortt/event/planner/service/LocationServiceUnitTest.java
  src/test/java/io/github/bbortt/event/planner/service/ResponsibilityServiceUnitTest.java
  src/test/java/io/github/bbortt/event/planner/web/rest/ResponsibilityResourceIT.java
  src/test/javascript/spec/app/entities/validator/unique-property-value-in-project.validator.spec.ts
  src/test/javascript/spec/helpers/promise-as-observable.ts
Labels: enhancement, priority:low

#160 Location unique name validation
  src/main/java/io/github/bbortt/event/planner/repository/LocationRepository.java
  src/main/java/io/github/bbortt/event/planner/service/LocationService.java
  src/main/java/io/github/bbortt/event/planner/web/rest/LocationResource.java
  src/main/webapp/app/entities/location/location.service.ts
  src/main/webapp/app/view/project/admin/locations/project-location-update.component.html
  src/main/webapp/app/view/project/admin/locations/project-location-update.component.ts
  src/test/java/io/github/bbortt/event/planner/service/LocationServiceUnitTest.java
  src/test/java/io/github/bbortt/event/planner/web/rest/LocationResourceIT.java
Labels: enhancement, priority:low

#165 update scheduler permissions for Role VIEWER.
  src/main/java/io/github/bbortt/event/planner/web/rest/LocationResource.java
  src/main/java/io/github/bbortt/event/planner/web/rest/ResponsibilityResource.java
  src/main/java/io/github/bbortt/event/planner/web/rest/SectionResource.java
  src/main/java/io/github/bbortt/event/planner/web/rest/UserResource.java
  src/main/webapp/app/shared/model/scheduler/scheduler-information.ts
  src/main/webapp/app/view/project/screenplay/event/event-update.component.ts
  src/main/webapp/app/view/project/screenplay/project-screenplay-location.component.html
  src/main/webapp/app/view/project/screenplay/project-screenplay-location.component.scss
  src/main/webapp/app/view/project/screenplay/project-screenplay-location.component.ts
Labels: bug, priority:high

#161 section name uniqueness check
  src/main/java/io/github/bbortt/event/planner/repository/SectionRepository.java
  src/main/java/io/github/bbortt/event/planner/service/SectionService.java
  src/main/java/io/github/bbortt/event/planner/web/rest/LocationResource.java
  src/main/java/io/github/bbortt/event/planner/web/rest/ResponsibilityResource.java
  src/main/java/io/github/bbortt/event/planner/web/rest/SectionResource.java
  src/main/webapp/app/entities/section/section.service.ts
  src/main/webapp/app/entities/validator/unique-property-value-in-location.validator.ts
  src/main/webapp/app/view/project/admin/locations/sections/project-section-update.component.html
  src/main/webapp/app/view/project/admin/locations/sections/project-section-update.component.ts
  src/test/java/io/github/bbortt/event/planner/service/SectionServiceUnitTest.java
  src/test/java/io/github/bbortt/event/planner/web/rest/SectionResourceIT.java
  src/test/javascript/spec/app/entities/validator/unique-property-value-in-location.validator.spec.ts
Labels: enhancement, priority:low

#166 add uniqueness validator on value change once.
  src/main/webapp/app/view/project/admin/locations/project-location-update.component.ts
  src/main/webapp/app/view/project/admin/locations/sections/project-section-update.component.ts
  src/main/webapp/app/view/project/admin/responsibilities/project-responsibility-update.component.ts
Labels: bug, priority:high

#168 Bugfix/#162 enhanced invitation security
  src/main/java/io/github/bbortt/event/planner/domain/Invitation.java
  src/main/java/io/github/bbortt/event/planner/repository/InvitationRepository.java
  src/main/java/io/github/bbortt/event/planner/service/InvitationService.java
  src/main/java/io/github/bbortt/event/planner/service/LocationService.java
  src/main/java/io/github/bbortt/event/planner/service/UserService.java
  src/main/java/io/github/bbortt/event/planner/web/rest/InvitationResource.java
  src/main/resources/db/migration/V2021.01.16.10.00__invitation_security.sql
  src/main/resources/i18n/messages.properties
  src/main/resources/i18n/messages_de.properties
  src/main/resources/i18n/messages_en.properties
  src/main/resources/templates/mail/invitationEmail.html
  src/main/webapp/app/entities/invitation/invitation.service.ts
  src/main/webapp/app/view/project/admin/users/project-user-invite.component.html
  src/main/webapp/app/view/project/admin/users/project-user-invite.component.ts
  src/test/java/io/github/bbortt/event/planner/service/InvitationServiceIT.java
  src/test/java/io/github/bbortt/event/planner/service/InvitationServiceUnitTest.java
  src/test/java/io/github/bbortt/event/planner/service/LocationServiceUnitTest.java
  src/test/java/io/github/bbortt/event/planner/service/ResponsibilityServiceUnitTest.java
  src/test/java/io/github/bbortt/event/planner/service/SectionServiceUnitTest.java
  src/test/java/io/github/bbortt/event/planner/web/rest/EventResourceIT.java
  src/test/java/io/github/bbortt/event/planner/web/rest/InvitationResourceIT.java
  src/test/java/io/github/bbortt/event/planner/web/rest/LocationResourceIT.java
  src/test/java/io/github/bbortt/event/planner/web/rest/ProjectResourceIT.java
  src/test/java/io/github/bbortt/event/planner/web/rest/SectionResourceIT.java
  src/test/resources/db/scripts/InvitationServiceIT_after.sql
  src/test/resources/db/scripts/InvitationServiceIT_before.sql
  src/test/resources/db/scripts/ProjectRepositoryIT_before.sql
  src/test/resources/db/scripts/RoleRepositoryIT_before.sql
Labels: bug, priority:high

#169 Feature/#12 cell duration filter
  src/main/webapp/app/app.constants.ts
  src/main/webapp/app/view/project/screenplay/filter/project-screenplay-filter.component.html
  src/main/webapp/app/view/project/screenplay/filter/project-screenplay-filter.component.ts
  src/main/webapp/app/view/project/screenplay/project-screenplay-location.component.html
  src/main/webapp/app/view/project/screenplay/project-screenplay-location.component.ts
  src/main/webapp/app/view/project/screenplay/project-screenplay.component.html
  src/main/webapp/app/view/project/screenplay/project-screenplay.component.scss
  src/main/webapp/app/view/project/screenplay/project-screenplay.component.ts
  src/main/webapp/app/view/project/screenplay/project-screenplay.module.ts
  src/main/webapp/i18n/de/project.screenplay.json
  src/main/webapp/i18n/en/project.screenplay.json
Labels: enhancement, priority:low

#170 fix my-projects buttons on md screens.
  src/main/webapp/app/view/my-projects/my-projects.component.html
Labels: bug, priority:low

#172 project ADMIN can edit responsibility.
  src/main/webapp/app/view/project/admin/users/project-user-invite.component.html
  src/main/webapp/app/view/project/admin/users/project-user-invite.component.ts
  src/main/webapp/app/view/project/admin/users/project-users.component.html
Labels: bug, priority:low

#173 create footer.
  src/main/webapp/app/layouts/footer/footer.component.html
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
Labels: enhancement, priority:low

#171 Feature/#30 colors
  src/main/java/io/github/bbortt/event/planner/domain/Responsibility.java
  src/main/java/io/github/bbortt/event/planner/web/rest/ResponsibilityResource.java
  src/main/resources/db/migration/V2021.01.21.18.20__responsibility_add_color.sql
  src/main/webapp/app/app.constants.ts
  src/main/webapp/app/shared/model/responsibility.model.ts
  src/main/webapp/app/shared/model/scheduler/event.scheduler.ts
  src/main/webapp/app/shared/model/scheduler/responsibility.scheduler.ts
  src/main/webapp/app/shared/model/scheduler/section.scheduler.ts
  src/main/webapp/app/view/project/admin/project-admin.module.ts
  src/main/webapp/app/view/project/admin/responsibilities/project-responsibilities.component.html
  src/main/webapp/app/view/project/admin/responsibilities/project-responsibilities.component.scss
  src/main/webapp/app/view/project/admin/responsibilities/project-responsibilities.component.ts
  src/main/webapp/app/view/project/admin/responsibilities/project-responsibility-update.component.html
  src/main/webapp/app/view/project/admin/responsibilities/project-responsibility-update.component.ts
  src/main/webapp/app/view/project/admin/users/project-user-invite.component.html
  src/main/webapp/app/view/project/screenplay/event/event-update.component.html
  src/main/webapp/app/view/project/screenplay/filter/project-screenplay-filter.component.ts
  src/main/webapp/app/view/project/screenplay/project-screenplay-location.component.html
  src/main/webapp/app/view/project/screenplay/project-screenplay-location.component.ts
  src/main/webapp/app/view/project/screenplay/project-screenplay.component.html
  src/main/webapp/app/view/project/screenplay/project-screenplay.component.ts
  src/main/webapp/app/view/project/screenplay/project-screenplay.module.ts
  src/main/webapp/content/scss/global.scss
  src/main/webapp/i18n/de/responsibility.json
  src/main/webapp/i18n/en/responsibility.json
Labels: enhancement, priority:high

#174 Feature/#12 more filters
  src/main/webapp/app/view/create-project/project-create.component.html
  src/main/webapp/app/view/project/admin/navbar/project-admin-navbar.component.html
  src/main/webapp/app/view/project/screenplay/filter/project-screenplay-filter.component.html
  src/main/webapp/app/view/project/screenplay/filter/project-screenplay-filter.component.ts
  src/main/webapp/app/view/project/screenplay/project-screenplay-location.component.html
  src/main/webapp/app/view/project/screenplay/project-screenplay-location.component.ts
  src/main/webapp/app/view/project/screenplay/project-screenplay.component.html
  src/main/webapp/app/view/project/screenplay/project-screenplay.component.ts
  src/main/webapp/app/view/project/screenplay/project-screenplay.module.ts
  src/main/webapp/i18n/de/project.screenplay.json
  src/main/webapp/i18n/en/project.screenplay.json
Labels: enhancement, priority:high

#179 User invite: Role value is optional
  src/main/webapp/app/view/project/admin/users/project-user-invite.component.html
Labels: bug, priority:high
